# Node Modules
node_modules/

# Environment Variables
.env

# Logs
*.log

# macOS
.DS_Store

# Build folders
dist/
build/

# Uploaded files
backend/uploads/

# VS Code (optional)
.vscode/

# npm lock files (optional)
package-lock.json